@media (max-width: 400px) {
	/*Media Queries for header*/
	.txt {
		font-size: 40px;
	}
	.balls {
		width: 60px;
		height: 34px;
	}
	.ball {
		width: 30px;
		height: 30px;
	}
	@keyframes ball-slide {
		50% {margin-left: 29px;}
	}
	.header {height: 8vh;}
	.mb-act {top: 8vh; height: 92vh;}
	.bars, .times {font-size: 30px;}
	.real-content {margin-top: 30vh;}

	.button-down {left: 44%;}
}

@media (max-width: 730px) {
	.about-game-short {font-size: 20px;}
	.button-down {left: 47%;}
	.real-content h1 {font-size: 45px;}
}
@media (max-width: 590px) {
	.about-game-short {font-size: 17px;}
	.button-down {left: 45%;}
	.real-content h1 {font-size: 40px;}
}