* {margin: 0; padding: 0;}
html {scroll-behavior: smooth;}
body {font-family: sans-serif;}
.main {
	color: #000;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	height: 100vh;
	width: 100%;
	background-image: url(../images/n1c.png);
	background-size: cover;
	background-position: center;
	position: relative;
	font-size: 20px;
}
.main .bg-c {
	background: -webkit-gradient(linear, left top, right top, from(#88d3ce), to(#6e45e2));
	background: -webkit-linear-gradient(left, #88d3ce, #6e45e2);
	background: -o-linear-gradient(left, #88d3ce, #6e45e2);
	background: linear-gradient(90deg, #88d3ce, #6e45e2);
	position: absolute;
	left: 0; top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	z-index: 0;
}
.content {
	z-index: 2;
}

/*-------------HEADER-------------*/
a {
	color: #fff;
	text-decoration: none;
}
.header {
	font-family: 'Share Tech Mono', monospace;
	width: 100%;
	height: 10vh;
	background-color: rgba(0, 0, 0, 0.7);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	top: 0;
	position: fixed;
	z-index: 100;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
/*\chOOse Animation/*/
.wrap {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
.txt {
	margin-left: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 50px;
}
.txt p:first-child span {
	padding-right: 5px;
}
.txt p:last-child span {
	padding-left: 5px;
}
.balls {
	width: 80px;
	height: 44px;
	background-color: #fff;
	border-radius: 50px;
	margin-top: 5px;
}
.ball {
	width: 40px;
	height: 40px;
	background-color: rgba(0, 255, 0, 0.8);
	border-radius: 50%;
	margin: 2px;
	-webkit-animation: ball-slide 4s ease-in infinite;
	        animation: ball-slide 4s ease-in infinite;
}
@-webkit-keyframes ball-slide {
	0% {
		margin-left: 2px;
		background-color: rgba(255, 0, 0, 0.7);
	}
	25% {
		background-color: rgba(0, 0, 255, 0.7);
	}
	50% {
		margin-left: 37px;
		background-color: rgba(0, 255, 0, 0.7);
	}
	75% {
		background-color: rgba(0, 0, 255, 0.7);
	}
	100% {
		margin-left: 2px;
		background-color: rgba(255, 0, 0, 0.7);
	}
}
@keyframes ball-slide {
	0% {
		margin-left: 2px;
		background-color: rgba(255, 0, 0, 0.7);
	}
	25% {
		background-color: rgba(0, 0, 255, 0.7);
	}
	50% {
		margin-left: 37px;
		background-color: rgba(0, 255, 0, 0.7);
	}
	75% {
		background-color: rgba(0, 0, 255, 0.7);
	}
	100% {
		margin-left: 2px;
		background-color: rgba(255, 0, 0, 0.7);
	}
}
/*/chOOse Animation\*/
.menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.menu .pc {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}
.menu .pc li {
	text-transform: uppercase;
	list-style: none;
	padding: 0 15px 0 15px;
	font-size: 20px;
	letter-spacing: 0.5px;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.menu .pc li:hover {
	border-bottom: 2px solid #fff;
}
.now-is-here {
	border-bottom: 2px solid #fff;
}
/*Mobile Menu*/
.mb {
  display: none;
}
.mb-act {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-transform: uppercase;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	position:fixed;
	width: 100%;
	height: 100%;
	right: 0;
	top: 10vh;
	background-color: rgba(0, 0, 0, 0.8);
	-webkit-animation: mb-act 0.3s;
	        animation: mb-act 0.3s;
}
@-webkit-keyframes mb-act {
	from {opacity: 0;}
	to {opacity: 1;}
}
@keyframes mb-act {
	from {opacity: 0;}
	to {opacity: 1;}
}
.mb-act ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	text-align: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}
.mb-act li {
	list-style: none;
	font-size: 25px;
}
.choosed-part-mb {
	border-bottom: 2px solid;
}
.mb-act ul li a:hover {border-bottom: 2px solid;}
/*---------*/
.bars, .times
{
	cursor: pointer;
	font-size: 30px;
	padding: 20px;
	display: none;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: #fff;
}

/*media for menu*/
@media (max-width: 530px) {
	.menu .pc {display: none;}
	.bars {display: -webkit-box;display: -ms-flexbox;display: flex;}
}
@media (min-width: 529px) {
	.bars {display: none;}
}
/*-------Up Button--------*/
#go-top {
	position: fixed;
	bottom: 0;
	right: 0;
	cursor: pointer;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	font-size: 30px;
	z-index: 100;
}
#go-top i {
	padding: 12px 14px;
	margin: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 50%;
	color: #fff;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
#go-top i:hover {background-color: rgba(0, 0, 0, 0.6);}
/*-----------Main Content-----------*/
.real-content {
	margin-top: 30vh;
	z-index: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.real-content h1 {
	text-transform: uppercase;
	font-family: 'Share Tech Mono', monospace;
	color: #fff;
	font-size: 50px;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 50px;
}
.about-game-short {
	color: #fff;
	padding: 10px;
	z-index: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	text-align: center;
	font-size: 25px;
}
.about-game-short::-moz-selection { background-color: red; }
.about-game-short::selection { background-color: red; }
.padding {
	padding: 18px 0;
}
/*---Button Down---*/
.button-down {
	z-index: 1;
	position: absolute;
	bottom: 20px;
	left: 48.3%;
	font-size: 30px;
}
.button-down a {
	padding: 10px 12px 8px 12px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 50%;
	color: #fff;
	-webkit-animation: pulse 1.5s infinite;
	        animation: pulse 1.5s infinite;
}
.button-down a:hover {
	-webkit-animation: none;
	        animation: none;
	background-color: rgba(0, 0, 0, 0.6);
}
@-webkit-keyframes pulse {
	0% {opacity: 1;}
	50% {opacity: 0.5;}
	100% {opacity: 1;}
}
@keyframes pulse {
	0% {opacity: 1;}
	50% {opacity: 0.5;}
	100% {opacity: 1;}
}
/*--------------------------ABOUT---------------------------*/
.about {
	min-height: 100vh;
	width: 100%;
	background-image: url(../images/n2.png);
	background-size: cover;
	background-position: center;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	z-index: 1;
}
.bg-c2 {
	background: -webkit-gradient(linear, left top, right top, from(#88d3ce), to(#6e45e2));
	background: -webkit-linear-gradient(left, #88d3ce, #6e45e2);
	background: -o-linear-gradient(left, #88d3ce, #6e45e2);
	background: linear-gradient(90deg, #88d3ce, #6e45e2);
	position: absolute;
	left: 0; top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	z-index: 0;
}
.content2 {
	margin-top: 10vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.text {
	padding: 12vh 30px 30px 30px;
	z-index: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.text h2 {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-transform: uppercase;
	font-family: 'Share Tech Mono', monospace;
	color: #fff;
	font-size: 30px;
}
.text p {
	padding: 20px 5%;
	color: #fff;
	font-size: 20px;
	text-align: justify;
}
.text-about {
	padding: 20px 1%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}
.line {
	margin-top: 20px;
	height: 100px;
	width: 5px;
	background-color: #fff;
	border-radius: 50px;
}
/*----------------------------------------------------*/
.cont {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.fig {
  border-radius: 10px;
  width: 300px;
  height: 300px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  padding: 15px;
}
.fig h2 {
  font-family: 'Share Tech Mono', monospace;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
}
.fig p {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-25px);
      -ms-transform: translateY(-25px);
          transform: translateY(-25px);
  line-height: 1.5em;
  opacity: 0;
  padding: 0 5px;
}
.fig:before {
  content: '';
  position: absolute;
  top: 5%; bottom: 5%;
  right: 5%; left: 5%;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
}
.fig:hover:before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}
.fig:after {
  content: '';
  position: absolute;
  top: 5%; bottom: 5%;
  right: 5%; left: 5%;
  border-right: 2px solid #fff;
  border-left: 2px solid #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
}
.fig:hover:after {
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}
.fig:hover h2,
.fig:hover p
{
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.fig-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.n1 {background-color: rgb(25, 127, 229);}
.n2 {background-color: rgb(229, 69, 69);}
.n3 {background-color: rgb(86, 193, 86);}
.n1:hover {background-color: rgb(18, 89, 161);}
.n2:hover {background-color: rgb(179, 25, 25);}
.n3:hover {background-color: rgb(55, 149, 55);}
.click-me-plz {
	margin: 10px;
	padding: 5px;
	font-size: 30px;
	-webkit-animation: click-plz 1s infinite ease;
	        animation: click-plz 1s infinite ease;
	opacity: 0.9;
}
@-webkit-keyframes click-plz {
	0% {opacity: 0.5;}
	50% {opacity: 0.9;}
	100% {opacity: 0.5;}
}
@keyframes click-plz {
	0% {opacity: 0.5;}
	50% {opacity: 0.9;}
	100% {opacity: 0.5;}
}
.fig:hover .click-me-plz {display: none;}

/*-----------------FOOTER------------------*/
.footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 10px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	font-family: 'Share Tech Mono', monospace; 
}

.footer span,
.footer .made-by
{
	color: #fff;
}
.footer-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	border-right: 2px solid #fff;
	border-left: 2px solid #fff;
}
.footer ul li {
	list-style: none;
	text-transform: uppercase;
	padding: 0 7px;
}
.footer a:hover {
	text-decoration: underline;
}
